body{
	background:white;
	
}

.floor{
	background: url(Floor.png) 0 0;
	width:30px; height:30px;
	
}
.wall{
	background:url(Redbrick.png) 0 0;
	width:30px; height:30px;
	
}
.player{
	width:30px; height:30px;
	background:url(Player.png) 0 0;
	
}
.block{
	width:30px; height:30px;
	background:url(Block.png) 0 0;
	
}
.pootis{
	width:30px; height:30px;
	background:url(pootis.png) 0 0;
	
}
.sblock{
	width:30px; height:30px;
	background:url(sblock.png) 0 0;
	
}
